<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efei.student.tablet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.efei.student.tablet.utils.EfeiApplication"
        android:allowBackup="true"
        android:icon="@drawable/launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".account.InformationActivity"
            android:label="@string/title_activity_information"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".admin.ManagementActivity"
            android:label="@string/title_activity_management"
            android:theme="@style/AdminTheme" >
        </activity>
        <activity
            android:name=".student.ListActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".student.CourseActivity"
            android:label="@string/title_activity_course"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".student.LessonActivity"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
